.app-container{
    background-image: url("../Pics/banner.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #1a1a2b;
}


.bg-sec-color{
    background-color:  rgb(57, 61, 84);
}

.bg-main-color{
    background-color: #1e202b;
}

.item{
    background-color: rgba(0, 0, 0, 0.7);
}


.text-light-blue{
    color: rgb(0, 154, 216);
}